@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

$font-family: 'Raleway', sans-serif;
$primary-color: #0a66c2;
$primary-color-light: #eef6ff;
$primary-border-color: #cfe2f3;

$secondary-color: #0073b1;

$danger-color: #e74c3c;
$border-color: #e1e9ee;
$white-color: #FFF;

$green-color: #009688;
$green-color-light: #e6f4ea;
$green-border-color: #c7ebd1;

$yellow-color: #cba03b;
$yellow-color-light: #fff9ec;
$yellow-border-color: #f9e7b7;

$gray-color: #656f7a;
$gray-color-light: #f5f4f4;
$gray-border-color: #dfdfdf;